
@charset "utf-8";

html {
	padding: 1em;
	font-family: sans-serif;
	color: #444;
}

.counter {
	display: inline-block;
	padding: 0.5em 1em;
	text-align: center;
	background: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 2px;
}
